<div class="row" style="padding-top:4px">
    <!-- apply any bg-* class to to the info-box to color it -->
    <div class="row">
        <div class="col-sm-3">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Expenses</span>
                    <span class="info-box-number">{{expenses.length}}</span>
                </div><!-- /.info-box-content -->
            </div>
        </div><!-- /.info-box -->
    </div>
    <div class="row" style="padding-top:4em; margin-left:4px; margin-right:4px">
        <div class="box col-sm-8">
            <div class="box-header with-border">
                <h3 class="box-title">Expense Story</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-primary" ng-click="newExpense()">New Expense</button>
                    <button class="btn btn-primary" ng-click="addCollaborator()"><i class="glyphicon glyphicon-plus"></i>Add Collaborator</button>
                    <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
                    <!--<div class="btn-group">
                        <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
                </div>
            </div>
            <div class="box-body">
                <div ng-repeat="expense in expenses">
                    <expense-card expense="expense" delete-expense="deleteExpense(expense)"></expense-card>
                </div>
            </div>
        </div>
    </div>
</div>
