<div class="row" style="padding-top:4px">
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="newExpense()">New Expense</button>
        <button class="btn btn-primary" ng-click="addCollaborator()"><i class="glyphicon glyphicon-plus"></i>Add Collaborator</button>
    </div>
    <!-- apply any bg-* class to to the info-box to color it -->
    <div class="row">
        <div class="col-sm-3">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Expenses</span>
                    <span class="info-box-number">{{expenses.length}}</span>
                </div><!-- /.info-box-content -->
            </div>
        </div><!-- /.info-box -->
    </div>
    <div class="row" style="padding-top:4em">
        <div ng-repeat="expense in expenses">
            <expense-card expense="expense" delete-expense="deleteExpense(expense)"></expense-card>
        </div>
    </div>
</div>
