<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!--
<section style="margin-left:5px" class="content">

    <div class="container-fluid pull-right">
        <ul class="nav nav-pills">
            <li>Availabe Stories ({{expenseStories.length}})</li>
            <li style="padding-left:10px"><button class="btn btn-primary" ng-click="newExpenseStory()"><i class="glyphicon glyphicon-plus"></i>New Expense Story</button></li>
        </ul>
    </div>
    <div style="padding-top:3em" class="col-md-8">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">ExpenseStoryId</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                        <th class="text-center">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="story in expenseStories">
                        <td class="text-center"><a ui-sref="expenseStory({'id': story.expenseStoryId})"> {{story.expenseStoryId}}</a></td>
                        <td class="text-center">{{story.startDt |date:"MM/dd/yyyy 'at' h:mma"}}</td> <!--todo: fix utc time issues-->
<!--<td class="text-center">{{story.endDt |date:"MM/dd/yyyy 'at' h:mma"}}</td>-->
<!--todo: fix utc time issues--
                      <td class="text-center">{{story.expenseStoryTypeId}}</td>
                  </tr>
              </tbody>

          </table>
      </div>
  </div>

</section>-->
<div style="margin-left:5px">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" class="no-padding">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Individual</span>
                        <span class="info-box-number">{{expenseStories.length}}</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </a>
        </li>
        <li role="presentation" class="">
            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false" class="no-padding">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Shared</span>
                        <span class="info-box-number">0</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </a>
        </li>
    </ul>

</div>
<div style="margin-left:5px" id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
        <div ng-repeat="story in expenseStories">
            <expense-story-info expense-Story="story"></expense-story-info>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
       
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">ExpenseStoryId</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">End Date</th>
                    <th class="text-center">Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="story in expenseStories">
                    <td class="text-center"><a ui-sref="expenseStory({'id': story.expenseStoryId})"> {{story.expenseStoryId}}</a></td>
                    <td class="text-center">{{story.startDt |date:"MM/dd/yyyy 'at' h:mma"}}</td> <!--todo: fix utc time issues-->
                    <td class="text-center">{{story.endDt |date:"MM/dd/yyyy 'at' h:mma"}}</td> <!--todo: fix utc time issues-->
                    <td class="text-center">{{story.expenseStoryTypeId}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>