<ul class="navbar navbar-inverse navbar-nav side-nav" role="navigation">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a ui-sref="/" data-toggle="tooltip" title="Dashboard" data-placement="right">
                        Dashboard<span style=" font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li><a href="#" data-toggle="tooltip" title="Profile" data-placement="right">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                <li><a href="#" data-toggle="tooltip" title="Messages" data-placement="right">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                <li><a href="#" data-toggle="tooltip" title="Settings" data-placement="right">Settings <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
            </ul>
        </div>
    </div>
</ul>
