<div class="col-xs-4" style="padding-top: 2em">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{expense.title}}
                <span class="pull-right">
                    <i class="glyphicon glyphicon-pencil" style="cursor:pointer" ng-click="edit()"></i>
                    <i class="glyphicon glyphicon-trash" ng-click="deleteExpense(expense)" style="cursor:pointer"></i>
                </span>
            </h3>
        </div>
      
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item"><span class="text-left text-primary">Expense Category:</span> <span class="text-right text-success pull-right" ng-bind="expense.expenseCategoryId"></span></li>
                <li class="list-group-item"><span class="text-left text-primary">Amount:</span> <span class="text-right text-success pull-right" ng-bind="expense.amount"></span></li>
                <li class="list-group-item"><span class="text-left text-primary">Created Dt:</span> <span class="text-right text-success pull-right">{{ expense.createdUtcDt|date:"MM/dd/yyyy 'at' h:mma"}}</span></li>
                <li class="list-group-item"><span class="text-left text-primary">Comments:</span> <span class="text-right text-success pull-right" ng-bind="expense.comments"></span></li>
                <li class="list-group-item"><span class="text-left text-primary">Receipt:</span> <span class="text-right text-success pull-right"><a href="">Receipt 1.jpg</a></span></li>
            </ul>
       
        <!--<button ng-click="har()">click me</button>-->
    </div>
</div>
